/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/basis

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea/commandlinetools/Laravel_4_19_23__4_35_PM.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/phpspec.xml
.idea/codeception.xml
composer.lock
*.jpg
public/image/16820163543.jpg
public/image/16820164061.jpg
*.xml
*.zip
*.xml
.idea/webServers.xml
.idea/deployment.xml
*.zip
